<h1>Edit your challenges</h1>

<form ng-submit="challengesEdit.update()">
  <div class="row">
    <div class="six columns offset-by-three">
      <label for="name">Challenge name</label>
      <input class="" name="name" ng-model="challengesEdit.challenge.name">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="startDate">Start date</label>
      <input class="" name="start date" ng-model="challengesEdit.challenge.startDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="endDate">End date</label>
      <input class="" name="end date" ng-model="challengesEdit.challenge.finishDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="cost">Cost</label>
      <input class="" name="cost" ng-model="challengesEdit.challenge.cost">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="location">Location</label>
      <input class="" name="location" ng-model="challengesEdit.challenge.location" googleplace>
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="description">Description</label>
      <textarea class="" name="description" ng-model="challengesEdit.challenge.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="video">Video</label>
      <input class="" name="video" ng-model="challengesEdit.challenge.video">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="image">Image</label>
      <input class="" name="image" ng-model="challengesEdit.challenge.image">
    </div>
  </div>

  <button >Update your challenge</button>
</form>
