<div ng-controller="MainController as main                                                    ">
  <div>
    <img ng-src="{{ challengesShow.challenge.image }}">
      <p>{{ challengesShow.challenge.startDate }} - {{ challengesShow.challenge.finishDate }}</p>
      <h2>{{ challengesShow.challenge.name }}</h2>
      <p>{{ challengesShow.challenge.description }}</p>
      <p>Created by <a>{{ challengesShow.challenge.projectCreator }}</a></p>
      <button ng-click="challengesShow.incrementLikes(challengesShow.challenge.like)">Likes: {{ challengesShow.challenge.like }} </button>
      <!-- {{ challengesShow.participate }} -->
      <!-- {{ challengesShow.authUser }}
      {{ challengesShow.challenge.participants}}
      {{ challengesShow.challenge.participants.userId.includes(challengesShow.authUser) }} -->
      <button ng-click="challengesShow.participate()"  ng-if="!challengesShow.challenge.participants.userId.includes(challengesShow.authUser)">Challenge this Event</button>

      <textarea placeholder='Comments'></textarea>

      <div class='challengePopUp' ng-click="togglePopUp">
        <!-- You've clicked the link!! -->
      </div>
  </div>
</div>
