<h1>Create a challenge</h1>

<form ng-submit="challengesNew.create()">
  <div class="row">
    <div class="six columns offset-by-three">
      <label for="name">Challenge name</label>
      <input class="" name="name" ng-model="challengesNew.challenge.name">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="startDate">Start date</label>
      <input class="" name="start date" type="date | dd/MM/yyyy" ng-model="challengesNew.challenge.startDate" placeholder="dd/mm/yyyy">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="endDate">End date</label>
      <input class="" name="start date" type="date | dd/MM/yyyy" ng-model="challengesNew.challenge.finishDate" placeholder="dd/mm/yyyy">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="cost">Cost</label>
      <input class="" name="cost" ng-model="challengesNew.challenge.cost">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="location">Location</label>
      <input class="" name="location" ng-model="challengesNew.challenge.location" googleplace>
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="description">Description</label>
      <textarea class="" ng-model="challengesNew.challenge.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="video">Video</label>
      <input class="" ng-model="challengesNew.challenge.video" placeholder="Copy embedded code here">
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <label for="image">Image</label>
      <input class="" ng-model="challengesNew.challenge.image" placeholder="Add image URL">
    </div>
  </div>

  <button>Add your challenge</button>
</form>
