  <div>
    <img ng-src="{{challengesShow.challenge.image}}">

    The challenge: {{ challengesShow.challenge }}

      <p>{{ challengesShow.challenge.startDate }} - {{ challengesShow.challenge.finishDate }}</p>
      <h2>{{ challengesShow.challenge.name }}</h2>
      <p>{{ challengesShow.challenge.description }}</p>
      <p>Created by <a>{{ challengesShow.challenge.projectCreator }}</a></p>

      <google-map challenge="challengesShow.challenge"></google-map>

      <!-- <button ng-click="challengesShow.incrementLikes(challengesShow.challenge.like)">Likes: {{ challengesShow.challenge.like }} </button> -->

      <div ng-show='challengesShow.popUpActive' class="mainPopUp">
        <a ng-click="challengesShow.togglePopUp()">X</a>
        <div class="inner">
          Can you confirm you want to {{ challengesShow.challenge.name }}?
          <button ng-click="challengesShow.participate(); challengesShow.togglePopUp()">Yes</button>
          <button ng-click="challengesShow.togglePopUp()">No</button>
        </div>
      </div>

      <p>
        Donate
      </p>

      <button ng-click="challengesShow.incrementLikes(challengesShow.challenge.like)" ng-hide="!profile.isLoggedIn()">Likes: {{ challengesShow.challenge.like.length }} </button>

      <p>
        This challenge currently has {{ challengesShow.challenge.participants.userIds.length }} challengers
      </p>
      <button ng-click="challengesShow.togglePopUp()" ng-hide="challengesShow.challenge.participants.userIds.includes(challengesShow.authUser)">Subscribe</button>

      <button ng-click="challengesShow.Unparticipate()"  ng-hide="!challengesShow.challenge.participants.userIds.includes(challengesShow.authUser)">Unsubscribe</button>

      <!-- {{challengesShow.challenge.comments}} -->

      <form ng-submit="challengesShow.addComment()" ng-hide="!profile.isLoggedIn()">
        <textarea placeholder='Comments' ng-model="challengesShow.comment"></textarea>
        <button ng-hide="!profile.isLoggedIn()">Submit Comment</button>
      </form>

      <div class="commentList">
        <h2>Comments</h2>
        <ul ng-repeat="challenge in challengesShow.challenge.comments">
          <li>{{challenge}}</li>
        </ul>
      </div>

      <button ui-sref="challengesEdit({ id: challengesShow.challenge._id })" ng-hide="!profile.isLoggedIn()">Edit Challenge</button>
      <button ng-click="challengesShow.deleteChallenge()" ng-hide="!profile.isLoggedIn()">Delete Challenge</button>
  </div>
