<h1>Create a challenge</h1>

<form ng-submit="challengesNew.create()">
  <div class="row">
    <div class="six columns">
      <label for="bio">Challenge name</label>
      <input class="u-full-width" name="name" ng-model="challengesNew.challenge.name">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Start date</label>
      <input class="u-full-width" name="start date" type="date" ng-model="challengesNew.challenge.startDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">End date</label>
      <input class="u-full-width" name="start date" type="date" ng-model="challengesNew.challenge.finishDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Cost</label>
      <input class="u-full-width" name="cost" ng-model="challengesNew.challenge.cost">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Location</label>
      <input class="u-full-width" name="location" ng-model="challengesNew.challenge.location">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Description</label>
      <textarea class="u-full-width" ng-model="challengesNew.challenge.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Video</label>
      <input class="u-full-width" ng-model="challengesNew.challenge.video">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="bio">Image</label>
      <input class="u-full-width" ng-model="challengesNew.challenge.image">
    </div>
  </div>

  <button>Add your challenge</button>
</form>
