<h1>Edit your challenges</h1>

<form ng-submit="challengesEdit.update()">
  <div class="row">
    <div class="six columns">
      <label for="name">Challenge name</label>
      <input class="u-full-width" name="name" ng-model="challengesEdit.challenge.name">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="startDate">Start date</label>
      <input class="u-full-width" name="start date" ng-model="challengesEdit.challenge.startDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="endDate">End date</label>
      <input class="u-full-width" name="end date" ng-model="challengesEdit.challenge.finishDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="cost">Cost</label>
      <input class="u-full-width" name="cost" ng-model="challengesEdit.challenge.cost">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="location">Location</label>
      <input class="u-full-width" name="location" ng-model="challengesEdit.challenge.placeName" location="challengesEdit.challenge.location" googleplace>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="description">Description</label>
      <textarea class="u-full-width" name="description" ng-model="challengesEdit.challenge.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="video">Video</label>
      <input class="u-full-width" name="video" ng-model="challengesEdit.challenge.video">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="image">Image</label>
      <input class="u-full-width" name="image" ng-model="challengesEdit.challenge.image">
    </div>
  </div>

  <button >Update your challenge</button>
</form>
