<h1>Edit Profile</h1>

<div class="container">
  <form>
    <div class="row">
      <div class="six columns">
        <label for="username">Username</label>
        <input class="u-full-width" placeholder="username">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="username">Email</label>
        <input class="u-full-width" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="username">Bio</label>
        <textarea class="u-full-width" placeholder="Bio...">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="username">Cover Photo</label>
        <textarea class="u-full-width" placeholder="Cover Photo">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="username">Profile Photo</label>
        <textarea class="u-full-width" placeholder="Profile Photo">
      </div>
    </div>

  </form>
</div>
