<form novalidate ng-submit="register.submit()">
  <div class="row">
    <div class="six columns offset-by-three">
      <label>Username</label>
      <input class="" type="text" placeholder="Username" ng-model="register.user.username">
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
      <label>Email</label>
      <input class="" type="email" placeholder="Email" ng-model="register.user.email">
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
      <label>Password</label>
      <input class="" type="password" placeholder="Password" ng-model="register.user.password">
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
      <label>Password Confirmation</label>
      <input class="" type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
    </div>
  </div>  
  <button>Register</button>
</form>
