{{ storiesCreateEntry.new }}

<form novalidate ng-submit="storiesCreateEntry.addEntry()">
  <div class="row">
    <label>Entry Title</label>
    <input class="u-full-width" type="text" placeholder="e.g. I fell" ng-model="storiesCreateEntry.new.title">
  </div>
  <div class="row">
    <label>Short Intro</label>
    <input class="u-full-width" type="text" placeholder="e.g. a cool strapline" ng-model="storiesCreateEntry.new.shortIntro">
  </div>
  <div class="row">
    <label>Main Content</label>
    <input class="u-full-width" type="text" placeholder="e.g. all my really cool adventures" ng-model="storiesCreateEntry.new.mainContent">
  </div>
  <div class="row">
    <label>Order</label>
    <input class="u-full-width" type="text" placeholder="e.g. 1" ng-model="storiesCreateEntry.new.order">
  </div>
  <button>Submit</button>
</form>
