<div ng-controller="UsersShowController as user">

  <div class="row">
    <div class="coverPhoto" style="background-image:url('{{ user.user.coverPhoto }}')">
      <!-- <img ng-src="{{ user.user.coverPhoto }}" alt="" /> -->
    </div>
  </div>

  <div class="row profile-image">
    <div class="three columns profile">
      <div class="photo">
        <img ng-src="{{ user.user.profilePhoto }}">
      </div>
      <button ng-click="user.incrementLikes(user.user.likes)">Likes: {{ user.user.totalLikes }} </button>
    </div>

    <div class="nine columns">
      {{ user.user.video }}
    </div>

  </div>
  <div class="row">
    <div class="six columns">
      <h1>{{ user.user.username }}</h1>
      <h2>{{ user.user.dob }} - {{ user.user.gender }}</h2>
      <h4>BIO</h4>
      <p>
        {{ user.user.bio }}
      </p>
    </div>

    <div class="six columns">
      <h2>User Photos</h2>
      <div class="row">
        <div class="six columns photo-stream" ng-repeat="photo in user.user.images">
          <img ng-src="{{ photo.image }}">
        </div>
      </div>
    </div>

  </div>

</div>
