<div ng-controller="UsersIndexController as users">
  <h1>Active Challengers</h1>
  <ul class="gridList row">
    <!-- ADD NG IF active challenges length > 0 -->
    <li ng-repeat="user in users.all" class="profile">
      <a ui-sref="usersShow({ id: user._id })">
        <div class="photo">
          <a ui-sref="usersShow({ id: user._id })">
            <img ng-src="{{ user.profilePhoto || 'http://image.shutterstock.com/z/stock-vector-man-silhouette-profile-picture-vector-151265393.jpg' }}" alt="" />
            <div class="overlay">
              <h3>{{ user.likes.length }} Likes</h3>
              <p>View profile</p>
            </div>
          </a>
        </div>
        <h3>{{ user.username }}</h3>
      </a>
    </li>
  </ul>
</div>
