<div class="row">
  <div class="coverPhoto" style="background-image:url('{{ user.user.coverPhoto }}')">
    <!-- <img ng-src="{{ user.user.coverPhoto }}" alt="" /> -->
  </div>
</div>

<div class="row profile-image">
  <div class="three columns profile">
    <div class="photo">
      <img ng-src="{{ usersShow.user.profilePhoto }}">
    </div>
    <button ng-click="usersShow.incrementLikes(user.user.likes)">Likes: {{ usersShow.user.likes.length }} </button>
  </div>

  <div class="nine columns">
    {{ user.user.video }}
  </div>

</div>
<div class="row">
  <div class="six columns">
    <h1>{{ usersShow.user.username }}</h1>
    <h2>{{ usersShow.user.dob }} - {{ usersShow.user.gender }}</h2>
    <h4>BIO</h4>
    <p>
      {{ usersShow.user.bio }}
    </p>
  </div>

  <div class="six columns">
    <h2>User Photos</h2>
    <div class="row">
      <div class="six columns photo-stream" ng-repeat="photo in usersShow.user.images">
        <img ng-src="{{ photo.image }}">
      </div>
    </div>
  </div>

</div>
