<h1>Edit Your Profile</h1>

<div class="container usersEditForm">

  <form ng-submit="usersEdit.update()">
    <div class="row">
      <div class="six columns offset-by-three">
        <label for="name">Username</label>
        <input class="" type="text" name="name" id="name" ng-model="usersEdit.user.username" value="{{ usersEdit.user.username }}">
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <label for="email">Email</label>
        <input class="" type="email" name="email" id="email" ng-model="usersEdit.user.email">
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <label for="bio">Bio</label>
        <textarea class="" name="bio" id="bio" ng-model="usersEdit.user.bio"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <label for="dob">Date of birth</label>
        <input class="" type="text" name="dob" id="dob" ng-model="usersEdit.user.dob">
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <label for="profilePhoto">Profile Photo</label>
        <textarea class="" name="profilePhoto" id="profilePhoto" ng-model="usersEdit.user.profilePhoto" placeholder="Profile Photo"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <label for="profileVideo">Profile Video</label>
        <textarea class="" name="profileVideo" id="profileVideo" ng-model="usersEdit.user.video" placeholder="Profile Video"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="images">Images</label>
        <input type="text" class="u-full-width" name="image1" id="image1" ng-model="usersEdit.user.images[0]" placeholder="Image 1" />
        <input type="text" class="u-full-width" name="image2" id="image2" ng-model="usersEdit.user.images[1]" placeholder="Image 2" />
        <input type="text" class="u-full-width" name="image3" id="image3" ng-model="usersEdit.user.images[2]" placeholder="Image 3" />
      </div>
    </div>

    <drag-drop></drag-drop>

    <button>Submit</button>

  </form>
</div>


<!-- username: { type: String, unique: true, required: true },
  email: { type: String, unique: true, required: true },
  passwordHash: { type: String },
  dob: { type: String, required: true },
  bio: { type: String },
  coverPhoto: { type: String },
  profilePhoto: { type: String },
  viedo: { type: String }, -->
