<h1>Create a challenge</h1>
{{challengesNew.challenge}}
<form ng-submit="challengesNew.create()">
  <div class="row">
    <div class="six columns">
      <label for="name">Challenge name</label>
      <input class="u-full-width" name="name" ng-model="challengesNew.challenge.name">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="startDate">Start date</label>
      <input class="u-full-width" name="start date" type="date | dd/MM/yyyy" ng-model="challengesNew.challenge.startDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="endDate">End date</label>
      <input class="u-full-width" name="start date" type="date | dd/MM/yyyy" ng-model="challengesNew.challenge.finishDate">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="cost">Cost</label>
      <input class="u-full-width" name="cost" ng-model="challengesNew.challenge.cost">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="location">Location</label>
      <input class="u-full-width" name="location" ng-model="challengesNew.challenge.placeName" location="challengesNew.challenge.location" googleplace>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="description">Description</label>
      <textarea class="u-full-width" ng-model="challengesNew.challenge.description"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="video">Video</label>
      <input class="u-full-width" ng-model="challengesNew.challenge.video">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="image">Image</label>
      <input class="u-full-width" ng-model="challengesNew.challenge.image">
    </div>
  </div>

  <button>Add your challenge</button>
</form>
