<form novalidate ng-submit="register.submit()">
  <div class="row">
    <label>Username</label>
    <input class="u-full-width" type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div class="row">
    <label>Email</label>
    <input class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div class="row">
    <label>Password</label>
    <input class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div class="row">
    <label>Password Confirmation</label>
    <input class="u-full-width" type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
  </div>
  <div class="row">
    <label>Bio</label>
    <textarea class="u-full-width" type="password" placeholder="Password Confirmation" ng-model="register.user.bio"></textarea>
  </div>
  <div class="row">
    <label>Date of Birth</label>
    <input class="u-full-width" type="date" placeholder="Date of birth" ng-model="register.user.dob">
  </div>
  <div class="row">
    <label>Gender</label>
    <input class="u-full-width" type="text" placeholder="gender" ng-model="register.user.gender">
  </div>
  <div class="row">
    <label>Cover Photo</label>
    <input class="u-full-width" type="text" placeholder="Cover Photo" ng-model="register.user.coverPhoto">
  </div>
  <div class="row">
    <label>Profile Photo</label>
    <input class="u-full-width" type="text" placeholder="Cover Photo" ng-model="register.user.profilePhoto">
  </div>
  <button>Register</button>
</form>
