<h1>Edit Your Profile</h1>

<div class="container usersEditForm">

  <form ng-submit="usersEdit.update()">
    <div class="row">
      <div class="six columns">
        <label for="name">Username</label>
        <input class="u-full-width" type="text" name="name" id="name" ng-model="usersEdit.user.username" value="{{ usersEdit.user.username }}">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" type="email" name="email" id="email" ng-model="usersEdit.user.email">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="bio">Bio</label>
        <textarea class="u-full-width" name="bio" id="bio" ng-model="usersEdit.user.bio"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="dob">Date of birth</label>
        <input class="u-full-width" type="text" name="dob" id="dob" ng-model="usersEdit.user.dob">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="profilePhoto">Profile Photo</label>
        <textarea class="u-full-width" name="profilePhoto" id="profilePhoto" ng-model="usersEdit.user.profilePhoto" placeholder="Profile Photo"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="profileVideo">Profile Video</label>
        <textarea class="u-full-width" name="profileVideo" id="profileVideo" ng-model="usersEdit.user.profileVideo" placeholder="Profile Video"></textarea>
      </div>
    </div>

    <drag-drop></drag-drop>

    <button>Submit</button>

  </form>
</div>


<!-- username: { type: String, unique: true, required: true },
  email: { type: String, unique: true, required: true },
  passwordHash: { type: String },
  dob: { type: String, required: true },
  bio: { type: String },
  coverPhoto: { type: String },
  profilePhoto: { type: String },
  viedo: { type: String }, -->
