<!DOCTYPE html>
<html ng-app="goApp">
  <head>
    <meta charset="utf-8">
    <title>GO.</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="ProfileController as profile">

    <div class="holder">
      <img src="/images/bg.jpg" class="hero">
    </div>
    <div class="overlay" ng-controller="MainController as main">
      <div class="container">
        <header>
          <h1 ui-sref="home" ui-sref-active="active">Go.</h1>
          <nav class="row">
            <ul class="columns six">
              <li>
                <a ui-sref="challengesIndex" ui-sref-active="active">
                  Challenges
                </a>
              </li>

              <li>
                <a ui-sref="usersIndex" ui-sref-active="active">
                  Active Participants
                </a>
              </li>
            </ul>

            <!-- MAINCONTROLLER NOW CONTAIN FUNCTIONALITY FOR DROP DOWN -->

            <div class="account-wrapper" ng-click="main.toggleMenu()" ng-class="{ active: main.menuActive }" ng-hide="!profile.isLoggedIn()">

              <!-- {{ profile.currentUser.account }} -->

              <img ng-src="{{ profile.currentUser.account.profilePhoto }}"/>
              <ul class="menu">
                <li><a ui-sref="usersEdit" class="profileButton">Edit details</a></li>
                <li><a ng-click="profile.logout()" ng-hide="!profile.isLoggedIn()">Log out</a></li>
              </ul>
            </div>

            <div class="register columns six">
              <a ui-sref="login" ng-hide="profile.isLoggedIn()">Sign in |</a>
              <a ui-sref="register" ng-hide="profile.isLoggedIn()">Register</a>
            </div>

          </nav>
        </header>
        <div class="content" ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
