<!DOCTYPE html>
<html ng-app="goApp">
  <head>
    <meta charset="utf-8">
    <title>GO.</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5p7q8Ryzq-b1m8hPfLttH0nYSQx_hLRk&libraries=places" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <!-- <script src="/js/directives/googleMap.js" charset="utf-8"></script> -->
  </head>
  <body ng-controller="ProfileController as profile">
    <div class="holder">
      <img src="/images/bg.jpg" class="hero i1">
      <img src="http://kingofwallpapers.com/adventure/adventure-003.jpg" class="hero i2">
      <img src="http://i.huffpost.com/gen/1866826/images/o-ADVENTURE-facebook.jpg" class="hero i3">
      <img src="http://kingofwallpapers.com/adventure/adventure-033.jpg" class="hero i4">
    </div>
    <div class="overlay" ng-controller="MainController as main">
      <header>
        <nav class="row">
          <ul class="columns eight">
            <li>
              <a ui-sref="challengesIndex" ui-sref-active="active">
                Challenges
              </a>
            </li>

            <li>
              <a ui-sref="usersIndex" ui-sref-active="active" ng-hide="!profile.isLoggedIn()">
                Active Participants
              </a>
            </li>

            <li>
              <a ui-sref="storiesIndex" ui-sref-active="active">
                Adventure Stories
              </a>
            </li>
          </ul>

          <!-- MAINCONTROLLER NOW CONTAIN FUNCTIONALITY FOR DROP DOWN -->

          <div class="columns four">
            <ul>
              <li><a ui-sref="login" ng-hide="profile.isLoggedIn()">Sign in</a></li>
              <li><a ui-sref="register" ng-hide="profile.isLoggedIn()">Register</a></li>
            </ul>
            <div class="account-wrapper" ng-click="main.toggleMenu()" ng-hide="!profile.isLoggedIn()">
              <img ng-src="{{ profile.currentUser.account.profilePhoto }}"/>
              <div class="username">{{ profile.currentUser.account.username }}</div>
            </div>
            <ul class="menu" ng-class="{ active: main.menuActive }" ng-hide="!profile.isLoggedIn()">
              <li class="close"><a ng-click="main.toggleMenu()">X</a></li>
              <li><a ui-sref="usersEdit({ id: profile.currentUser.account._id })" ng-click="main.toggleMenu()" class="profileButton">Edit details</a></li>
              <li><a ui-sref="storiesCreate({ id: profile.currentUser.account._id })" ng-click="main.toggleMenu()">Add Blog Entry</a></li>
              <li><a ng-click="profile.logout(); main.toggleMenu()" ng-hide="!profile.isLoggedIn()">Log out</a></li>
            </ul>
          </div>

        </nav>
        <h1 ui-sref="home" ui-sref-active="active">Van Pelt's Travel Buddies</h1>
      </header>

      <div class="container">
        <div class="content" ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
