
button {
  width: 100%;
  color: $c_primary;
  font-size: 1em;
  &:hover {
    background-color: $c_primary;
  }
}

input, textarea, select {
  color: $c_secondary;
  width: 350px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  color: black;
}

textarea.comments {
  width: 100%;
}

form {
  margin: auto;
}

// form {
//   margin: auto;
// }
//
// .container {
//   margin: auto;
// }

.usersEditForm {
  color: black;
  margin: auto;
  textarea {
    color: black;
  }
}
