header {
  h1 {
    margin: 30px 0px;

    font-size:100px;
    text-align: center;
  }
  nav ul {
    list-style: none;
    li {
      float:left;
      list-style: none;
      a {
        padding: 20px;
      }
    }
  }
  nav .register {
    text-align: right;
  }
  &:after {
    content: ' ';
    clear:both;
    display: block;
  }
}
//
