// LANDING

.holder {
  height: 100%;
  width: 100%;

  overflow: hidden;
}


img.hero {
  min-height: 100%;
  min-width: 100%;

  margin: 0;
  padding: 0;

    @include basicAbsolute;
}

.overlay {
  height: 100%;
  width: 100%;

    @include basicAbsolute;
}

.register {
  float: right;
}

//Comment
.content {
  position: absolute;
  top: 50%;
}
