// LANDING BACKGROUND
.holder {
  height:100vh;
  width: 100vw;

  overflow: hidden;
  @include basicAbsolute(0,0);

  img.hero {
    width: 100%;

    margin: 0;
    padding: 0;
  }
}

.overlay {
  width: 100%;

  @include basicAbsolute(0,0);
}

// User index list

ul.gridList {
  list-style: none;

  li {
    width:32%;

    float: left;
    list-style: none;
  }
}

.profile {
  text-align: center;
  margin-bottom: 40px;

  .photo {
    width: 70%;
    margin: 0 auto 20px auto;
    padding-bottom: 70%;

    position: relative;
    overflow: hidden;

    border-radius: 50%;

    img {
      width:100%;

      @include basicAbsolute(0,0);
    }
  }
}
