.photo-stream {
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;

  &:nth-child(odd) {
    margin-left: 0;
    clear: left;
  }
  img {
    min-width:100%;
    min-height:100%;
    max-width:120%;
    max-height:120%;
  }
}

// General
.profile {
  text-align: center;
  margin-bottom: 40px;

  transition: all 1s;
  * {
    transition: all 1s;
  }
  .photo {
    width: 70%;
    margin: 0 auto 20px auto;
    padding-bottom: 70%;

    position: relative;
    overflow: hidden;

    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px rgba($c_secondary, 0.2);

    img {
      min-width:100%;
      min-height:100%;

      max-width: 120%;
      max-height: 120%;

      @include basicAbsolute(0,0);
    }
    .overlay {
      height: 100%;
      width: 100%;

      padding: 30% 0;

      background-color: rgba($c_secondary, 0.3);
      border-radius: 50%;
      border: 0px solid $c_secondary;
      opacity: 0;

      transition: all 1s;

      h3 {
        margin-bottom: 1px;
      }
    }
  }


  &:hover {
    cursor: pointer;
    color: $c_secondary;
    transition: all 1s;

    .photo {
      box-shadow: 0px 0px 30px 5px rgba($c_secondary, 0.6);
    }

    * {
      transition: all 1s;
      color: $c_secondary;
    }
    .overlay {
      opacity: 1;
      border: 4px solid $c_secondary;
      color: $c_primary;
      * {
        color: $c_primary;
      }
    }
  }
}

.photoStream {
  .photo {
    border: 1px solid black;
    display: inline-block;
    float: left;
    width: calc(33% - 12px);
    margin: 0 5px 5px 5px;
    overflow: hidden;
    img {
      display: block;
    }
  }
}


// Profile show page

.profileMain {
  margin: -90px 0 0 0;

  .photo {
    margin-top: 30px;
  }
}

.videoHolder {
	position: relative;
	padding-bottom: 38.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

  box-shadow: 0px 0px 30px 5px rgba($c_secondary, 0.4);

  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100% !important;
  	height: 100% !important;
  }
}
