@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Alegreya+Sans|Raleway|Gudea');

$f_primary: 'PT Sans Narrow', sans-serif;
$f_secondary: 'Gudea', sans-serif;



// Colors

$c_primary: rgba(255, 255, 255, 1);
$c_secondary: rgba(0,0,0,1);
$c_tertiary: rgba(200,30,90,1);


// Extends

.reset-list {
  list-style: none;
  margin: 0px;
}


// Animations

@keyframes heroImage {
    0%    { opacity: 0; transition: all 50ms }
    5%   { opacity: 1; transition: all 50ms }
    25%   { opacity: 1; transition: all 50ms }
    30%  { opacity: 0; transition: all 50ms }
}
