@import 'variables';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $c_primary;
  font-family: $f_primary;
  font-size: 20px;
}

body {
  background-color: #000;
}

.container {
  position: static !important;
}

a {
  color: $c_primary;
   &, &:link, &:visited {
     color: $c_primary;
     text-decoration: none;

     transition: all 1s;
   }
   &:hover {
     color: $c_tertiary;
   }
}

h1 {
  text-align: center;
  margin-bottom: 120px;
}


@import 'layout';
@import 'header';
@import 'forms';
@import 'profiles';
@import 'challenges';
@import 'stories';

// END OF FILE
